<!DOCTYPE HTML>
<html>
	<head>
		<title>Pair Programming Bot</title>
		<meta lang='eng' charset=UTF-8>
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<p class="text">
			Does the test pass?
		</p>
		<ul class="buttons">
			<li>
				<a class="yes" href="/refactor.html">Yes</a>
			</li>
			<li>
				<a class="no" href="/write_code.html">No</a>
			</li>
		</ul>
	</body>
</html>

